<div class="row">
  <form id="setRTPaudioForm" class="form-horizontal" role="form">
    <div class="col-sm-offset-3 col-sm-6">
      <div class="row">
        <div class="col-sm-12">
          <h4>Set audio input</h4>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-3">
          <h5>Port</h5>
        </div>
        <div class="col-sm-9">
          <input type="numeric" class="form-control input-sm" name="port" placeholder="e.g.: 5006" required="true" autofocus>
          <input type="hidden" name="rtpInput" value="a">
       </div>
      </div>
      <div class = "row">&nbsp;</div>
      <div class="row">
        <div class="col-sm-12">
          <select class="form-control" name="codec" required="true">
            <option value="none">Codec</option>
            <option value="pcm">PCM</option>
            <option value="pcmu">PCMU</option>
            <option value="opus">OPUS</option>
            <option value="aac">AAC</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <select class="form-control" name="sampleRate" required="true">
            <option value="none">Samplerate</option>
            <option value="8000">8000</option>
            <option value="44100">44100</option>
            <option value="48000">48000</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <select class="form-control" name="channels" required="true">
            <option value="none">Channels</option>
            <option value="1">1</option>
            <option value="2">2</option>
          </select>
        </div>
      </div>
      </div>
      <div class = "row">&nbsp;</div><br>
      <div class="row">
        <div class="col-sm-12">
          <input type="submit" class="btn btn-default" value="Set and continue"></input>
        </div>
      </div>
    </form>
  <br>
</div>