body {
	text-align: center;
    margin: 5px 5px 5px 5px;
}
input {
}

.spinner {
	margin: 50px 0px 0px 0px;

}

.row {
	margin: 5px 5px 5px 5px;
}

.outputCrop{
	position: absolute;
	background-color: #29e;
	border: solid 1px #fff;
	min-width: 40px;
	min-height: 36px;
	z-index: 0;

}
#grid-snap {
  width: 100%;
  background-color: #000;
  color: #fff;
  font-size: 1.2em;
}





