<div id="rtmpInput">
  <br>
  <div class="row">
    <div class="col-sm-12">
      <h4>And set RTMP URI</h4>
    </div>
  </div> 
  <div class="row">
    <form class="form-horizontal" role="form" id="setRTMPForm">
      <div class="form-group">
        <div class="col-sm-3">
          <h5>RTMP URI</h5>
        </div>
      	<div class="col-sm-9">
          <input type="text" class="form-control" id='uri' placeholder="e.g.: rtmp://mycompany.com/vod/mp4:video.mov" required="true" autofocus>
        </div>
      </div>
      <div class="form-group"> 
        <div class="col-sm-12">
          <input type="submit" class="btn btn-default" value="Set and continue"></input>
        </div>
      </div>
    </form>
  </div>
</div>