
<div class="row">
	<div class="col-sm-6 col-sm-offset-3">
		<h3>First of all, set API and LiveMediaStreamer instance connectivity</h3>
	</div>
</div>
<div class="row">
	<div class="col-sm-6 col-sm-offset-3">
		<form class="form-horizontal" role="form" id="connectForm">
			<h4>API connectivity parameters</h4>
		    <div class="form-group">
			    <div class="col-sm-3">
			       	<h5>API hostname</h5>
			    </div>
			    <div class="col-sm-9">
			       	<input type="text" class="form-control" id='api-host' placeholder="e.g.: 127.0.0.1" value="127.0.0.1" required="true" autofocus>
			    </div>
			</div>
		    <div class="form-group">
			     <div class="col-sm-3"> 
			       	<h5>API port</h5>
			    </div>
			    <div class="col-sm-9"> 
			       	<input type="text" class="form-control" id='api-port' placeholder="e.g.: 8080" value="8080" required="true">
			    </div>
		    </div>
		    <h4>Server host/IP and port</h4> 
		    <h6>default set to <span id="defaultServer"></span></h6>
		    <div class="form-group">
			    <div class="col-sm-3">
			       	<h5>Server/App hostname</h5>
			    </div>
			    <div class="col-sm-9">
			       	<input type="text" class="form-control" id='server-host' placeholder="e.g.: 127.0.0.1" value="127.0.0.1" required="true">
			    </div>
		    </div>
		    <div class="form-group">
			    <div class="col-sm-3"> 
			       	<h5>Server/App port</h5>
			    </div>    
			    <div class="col-sm-9"> 
			        <input type="text" class="form-control" id='server-port' placeholder="e.g.: 80" value="7777" required="true">
			    </div>
		    </div>
		    <div class="form-group"> 
			    <div class="col-sm-12">
			    	<input id="connectBtn" type="submit" class="btn btn-default" value="Connect"></input>
			    </div>
			</div>
		</form>
	</div>
</div> 