<div class="row">
	<div class="col-sm-3 col-sm-offset-1 col-crops">
		<div class="row">
			<h3>Set Crops</h3>
			<button type="button" class="btn btn-default btn-crops" href="#crop_modal" data-toggle="modal">Create Crop</button>
		</div>
		<br>
		<h4>Selected Crop</h4>
		<form class="form-horizontal hidden" role="form" id="configureCropForm">
			<div class="form-group form-group-little">
				<label class="col-sm-2 control-label">Crop</label>
			    <div class="col-sm-3 col-form-crops">	
			    	<label  id="select-crop" class="form-control form-control-little"></label>
			    </div>	
				<label class="col-sm-1 control-label">X</label>
			    <div class="col-sm-2 col-form-crops">	
			    	<label id="x-crop" class="form-control form-control-little" ></label>
			    </div>	
				<label class="col-sm-1 control-label">Y</label>
			    <div class="col-sm-2 col-form-crops">	
			    	<label id="y-crop" class="form-control form-control-little"></label>
			    </div>	
			</div>
			<div class="form-group form-group-little">
				<label class="col-sm-3 control-label">Width</label>
			    <div class="col-sm-3 col-form-crops">	
			    	<label id="width-crop" class="form-control form-control-little"></label>
			    </div>
				<label class="col-sm-3 control-label">Height</label>
			    <div class="col-sm-3 col-form-crops">	
			    	<label id="height-crop" class="form-control form-control-little"></label>
			    </div>	
			</div>
			<div class="form-group form-group-little"> 
			    <input id="configureBtn" type="submit" class="btn btn-default btn-crops" value="Configure Selected Crop"/>
			</div>
		</form>
		<form class="form-horizontal hidden" role="form" id="deleteCrop">
			<div class="form-group form-group-little">
				<input id="deleteCropBtn" type="submit" class="btn btn-default btn-crops" value ="Delete Selected Crop"/>
			</div>
		</form>
		<form class="form-horizontal hidden" role="form" id="configureAllCrops">
			<div class="form-group form-group-little">
				<input id="configAllCropsBtn" type="submit" class="btn btn-default btn-crops" value ="Configure All Crops"/>
			</div>
		</form>
		<br>
		<h4>Configure Frame Time</h4>
		<form class="form-horizontal" role="form" id="configureFrameTimeForm">
			<div class="form-group form-group-little">
				<label class="col-sm-4 control-label">Frame Time</label>
			    <div class="col-sm-7">	
			    	<input type="text" id="frame-time" class="form-control"/>
			    </div>	
			</div>
			<div class="form-group form-group-little"> 
			    <input id="configureFrameTimeBtn" type="submit" class="btn btn-default btn-crops" value="Configure Frame Time"/>
			</div>
		</form>
	</div>

	<div class="col-sm-8" id="contentCrop">
		<div id="grid-snap"></div>
	</div>
</div> 

<div class="row">
	<form class="form-horizontal" role="form" id="playRTP">
		<input id="play" type="submit" class="btn btn-default" value="Play"/>
	</form>
	<form class="form-horizontal" role="form" id="forceIntra">
		<input id="forceI" type="submit" class="btn btn-default" value="Force Intra"/>
	</form>
</div>

<div class="modal fade" id="crop_modal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
			    <a class="close" data-dismiss="modal">&times;</a>
			    <h3>New Crop</h3>
			</div>
			<div class="modal-body">
			    <form class="form-horizontal" role="form" id="createCropForm">
					<div class="form-group form-group-little">
						<div class="row">
							<div class="col-sm-3"> 
						       	<h5>IP Destination</h5>
						    </div>
						    <div class="col-sm-9"> 
						       	<input type="text" class="form-control" id='ip-destination' placeholder="e.g.: 192.168.0.0" required="true">
						    </div>
					    </div>
					    <div class="row">
						    <div class="col-sm-3"> 
						       	<h5>Aspect ratio</h5>
						    </div>
						    <div class="col-sm-9"> 
						       	<input type="text" class="form-control" id='aspect-ratio' placeholder="e.g.: 16:9" required="true">
						    </div>
					    </div>
					    <div class="row">
						    <div class="col-sm-3"> 
						       	<h5>Type</h5>
						    </div>
						    <div class="col-sm-9"> 
							    <select class="form-control" name="crop-type" required="true">
						            <option value="none">Type</option>
						            <option value="Master">Master</option>
						            <option value="Slave">Slave</option>
						        </select>
						    </div>
					    </div>
					</div>
				    <div class="form-group form-group-little"> 
					    <div class="col-sm-12">
					    	<input id="createBtn" type="submit" class="btn btn-default" value="Create"></input>
					    </div>
					</div>
		  		</form>
			</div>
		</div>	
	</div>
</div>
